body { font-family: Arial, sans-serif; background:#f4f6f9; }
.sidebar {
    width:250px;
    height:100vh;
    position:fixed;
    background:#1e3799;
    padding-top:20px;
}
.sidebar a {
    color:white;
    padding:12px;
    display:block;
    font-size : 16px;
    margin-left:30px;
    text-decoration:none;
}
.sidebar a:hover { background:#4A69BD; }

.content {
    margin-left:280px;
    padding:20px;
}

.employer-title {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    text-align: center;
}
.dashboard-title {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 36px;
    letter-spacing: 0.5px;
    color: #000;
}

